# Web
DATABASE_URL=mongodb://localhost:27017/pos-payroll
S3_BUCKET=pos-payroll-dev
AWS_REGION=us-west-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# Mobile
EXPO_PUBLIC_API_URL=http://localhost:3000
